python-dotenv==1.0.0
fastapi==0.110.*
uvicorn==0.29.*
sqlalchemy==2.0.25
alembic==1.13.1
pydantic==2.*
python-jose==3.3.0
passlib==1.7.4
aiohttp==3.9.3
yandexcloud==0.227.0
aiogram==3.*
pytest==8.2.1

# Python version restriction (for pip >= 21.0)
# Requires Python >=3.10,<3.12 